

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
  }

  .container {
   width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    font-size: 100px;
  }
.box-a,.box-d{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    height: 500px;
  }

  .group-box {
    display: flex;
    gap: 20px;
    flex: 1;
  }

  .group-box1 {
    display: flex;
    gap: 20px;
    flex: 1;
  }

  .box-b {
    flex: 1;
  }

  .box-c {
    flex: 2;
  }

  .box-d {
    flex: 1;
  }
@media (max-width: 500px) {
.group-box1 {
 flex-direction: column;
}
.box-b{
    display: none;
}
.box-c,.box-d{
    flex-basis: 300px;
}
}